.App-header {
  background-color: #282c34;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px ;
  font-size: calc(10px + 2vmin);
  color: white;
}

